body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}
title{
  font-family: Arial, Helvetica, sans-serif;


}
header{
  text-align:center; 
  color: white;
  font-size: 25px;
}


.btn-container{
  /* -Restart button */
  text-align: center;
}

.restart-btn {
  color: white;
  background-color: transparent;
  border-radius: 12px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-btn:hover{
  cursor: pointer;
  background-color: rgb(22, 184, 243);
  color: black;
  
}

/* Score board */
.score-board{
  margin: 10% auto 5%;
  text-align: center;
  color: white;
  border: 5px solid white;
  text-align: center;
  width: 250px;
  font-size: 60px;
  padding: 30px 10px;
  position: relative;
  text-shadow:  0 0 15px currentColor;
  box-shadow:  0 0 15px currentColor;
  border-radius: 25px;
  display: block;
}
 
.badge{
  /*ZIMA Blue*/
  background:#16B8F3;
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 12px;
}

#user-badge{
  position: absolute;
  top: 20px;
  left: -60px;
  overflow:auto;
}

#cpu-badge{
  position: absolute;
  top: 20px;
  right: -25px;
  overflow:auto;
}

/*Player choices */
.choices{
  display: flex;
  justify-content: center;
}

.choices .choice {
  cursor: pointer;
  border: 3px solid  ;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
  margin-right: 20px;
  box-shadow: 0 2px 66px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: all 0.1s ease;
  overflow: hidden;
}

.choices .choice:hover{
  cursor: pointer;
  background: #16B8F3;
}

.choices .choice img{
  width: 120px;
  height: 150px;
  
}

h2{
  text-align: center;
  color: white;
  font-size: 25px;
}

/*res*/
.text-win{
  font-family: Fantasy;
  color: #16B8F3;
  font-size: 40px;
}

.text-lose{
  font-family: Fantasy;
  color: #ff0000;
  font-size: 40px;
}

.modal-content p{
  font-size: 18px;
}